* {
    box-sizing: border-box;
}


html, body {
    margin: 20px;
    padding: 20px;
} 

#main_page{
    font-family: 'Open Sans', sans-serif;
    /* background-image: linear-gradient(to bottom bottom , black, blue 800px, black 800px); */
}





/*
#sec_links {
    float: left;
}
#sec_botoes {
    float: right;
    margin-top: 25px;
}
#sec_botoes ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#sec_botoes a {
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 3px;
}
#sec_botoes li {
    display: inline;
} */