* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}

/* body{
    background-image: linear-gradient(to bottom,  rgb(195, 195, 195));
} */


#wrap{
    max-width: 990px;
    height: 1265px;
    margin: auto;
    background-color: white;
    
}

header{
    position: absolute;
    max-width: 990px;

}


#main_page{
    background-color: rgb(195, 195, 195);
}



#cidade ul li{
    position: relative;
    left: 828px;
    top: -16px;
    width: 35%;
    height: 35px;
    background-color: darkorange;
    color: white;
    list-style-type: none;
    text-align: center;
    padding:7px;
}


#barra_pesquisa{
    position: relative;
    left: 495px;
    width: 100%;

}

.logo{
    position: absolute;
}


#redes_sociais{
    position: relative;
    left: 917px;
}

#menu_principal{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#menu_principal > li {
    display: inline;
    position: relative;
}

#menu_principal a{
    padding: 10px 30px;
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
#menu_principal a:hover {
    background-color: black;
    color: white;
}
#menu_principal ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    left: 0;
    background-color: white;
    display: none;
    border: 1px solid #000;

}


/*
#sec_links {
    float: left;
}
#sec_botoes {
    float: right;
    margin-top: 25px;
}
#sec_botoes ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#sec_botoes a {
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 3px;
}
#sec_botoes li {
    display: inline;
} */